// <!-- ----------------VARIABLE  COLOR-------------------- -->

$color1: #fff;
$color2: #000;
$font-family1: 'roboto',
'arial',
'sans-serif';
$font-family2: 'Libre Baskerville',
'arial',
'sans-serif';



// <!-- -----------------HEADER--------------------- -->
* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;

}


// <!-- -----------------------NAV-------------------------- -->



.bg-transparent {
    padding-top: 20px
}

.nav-degustation {
    font-family: 'roboto', 'arial', 'sans-serif';
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.3rem;
    display: block;
    margin: auto;
}

.nav {
    margin-left: 150px;
}

.subtitle {
    font-family: 'roboto', 'arial', 'sans-serif';
    font-size: 1.3em;
    font-weight: 300;
    margin-right: 20px;

}

.menu {
    //    margin-left: 160px; 
}

li {
    margin-right: 41px;
}



// <!-- ----------------END-------NAV-------------------------- -->



// <!-- ---------------------TITLE--------------------- -->
.box {
    height: 700px;
    display: flex;
    align-items: center;
}

.box-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $color1;
        font-family: 'roboto', 'arial', 'sans-serif';
        font-weight: 300;
        letter-spacing: 0.2em;
        font-size: 60px;
        // padding: 30px;
    }

    p {
        color: $color1;
        font-family: 'roboto', 'arial', 'sans-serif';
        font-weight: 300;
    }

}

// <!-- ----------------END-----TITLE--------------------- -->





// <!-- ---------------BACKGROUND  HEADER------------------------- -->
.background-header {
    background-image: linear-gradient(to top, $color2, #0002), url("../site_whisky/img/WISKY.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}

// <!-- --------------END---HEADER--------------------- -->



// <!-- --------------SECTION 1-------------------- -->
.section-chivas {
    background-color: #e2bc74;
    font-family: $font-family2;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 30px;


}

.title-chivas {}

// <!-- --------------PHOTO CHIVAS-------------------- -->

.section1 {
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.photo-chivas {

    img {
        width: 60%;
        border-radius: 30px;
    }
}

// <!-- --------END------PHOTO CHIVAS-------------------- -->

// <!-- -------------- CHIVAS-------------------- -->
.chivas {

    padding: 30px;

    h2 {
        text-align: center;

    }
}

h2::after {
    content: "";
    display: block;
    border: 2px solid grey;
    width: 30%;
    margin: auto;

}

.paragraphe-chivas {
    text-align: start;
}

// <!-- ----------END---- CHIVAS-------------------- -->


// <!-- ---------END-----SECTION 1-------------------- -->


// <!-- --------------SECTION 2-------------------- -->

.banniere {

    background-image: linear-gradient(to left, $color2, #0002), url("../site_whisky/img/bacardi_black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;




}

.banniere-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;


}

.title2 {
    h2 {
        font-family: $font-family2;
        font-weight: 400;
        font-size: 210%;
        letter-spacing: 0.2em;
        padding: 30px;
        color: $color1;
    }



    h2::after {
        content: "";
        display: block;
        border: 2px solid #e2bc74;
        width: 30%;
        margin: auto;

    }
}

.xs-paragraphesection2 {

    p {

        color: $color1;
        font-family: $font-family2;
        font-weight: 300;

    }

}


// <!-- ---------END-----SECTION 2-------------------- -->

// <!-- --------------SECTION 3-------------------- -->


.title-section3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    h3 {
        font-family: $font-family2;
        font-weight: 700;
        letter-spacing: 0.2em;
        padding: 30px;
    }

    h3::after {
        content: "";
        display: block;
        border: 2px solid #e2bc74;
        width: 25%;
        margin: auto;

    }

}

.whisky-section3 {
    padding-right: 100px;
}

.title-whisky {

    p {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: justify;
    }

    .whisky-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    span {
        color: #e2bc74;

    }
}



// <!-- ---------END-----SECTION 3-------------------- -->

// <!-- --------------PHOTOS-------------------- -->

.gallery-section4 {

    img {
        width: 300px;
    }
}

.gallery-whisky {

    padding-top: 50px;
}



// <!-- ---------END-----PHOTOS-------------------- -->


// <!-- ---------CONTACT-----SECTION5--------------- -->

.section5 {
    padding-top: 10px;
    margin-top: 50px;
    background-color: grey;
}

.contact {


    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.cave {

    padding-top: 50px;
    font-family: $font-family1;
    font-weight: 300;
}

.paragraphe-section-5 {

    padding-top: 38px;
    color: $color1;
    font-family: $font-family1;

    a {
        color: $color1;
        text-decoration: none;
        font-family: $font-family1;
        font-weight: 300;
    }

    i {
        color: #e2bc74;
    }
}

.cave-box {
    color: $color1;
}

.cave-section-5 {
    i {
        color: #e2bc74;
    }
}




// <!-- ---------END-----CONTACT-------------------- -->


// <!-- ---------FOOTER-------------------- -->


footer {
    background-color: #314658;
}

.copyright-footer {
    color: grey;

    p {
        text-align: center;
    }
}

.favicon {
    color: #e2bc74;
}

.footer-support {
    display: flex;
    justify-content: space-around;

}

// <!-- ---------END-----FOOTER-------------------- -->



// <!-- -------------FAVICON-------------------- -->

i {
    margin-right: 5px;
}





// <!-- ---------END-----FAVICON-------------------- -->





// <!-- --------------MEDIA QUERY-------------------- -->

@media screen and (min-width: 300px) and (max-width: 1280px) {


    .nav-degustation {
        text-align: left;
    }

    .photo-chivas img {
        width: 100%;
    }

    .section1 {
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .whisky-section3 {
        padding-right: 0;
    }

    .nav {
        margin-left: 48px;
    }

    .xs-paragraphesection2 {

        p {

            color: $color1;
            font-family: $font-family2;
            font-weight: 300;
            margin-left: 10px;

        }

    }

    .gallery-section4 {

        img {
            width: 240px;
        }
    }

    .gallery{
        text-align: center;
    }

    .mail {

        display:flex;
       justify-content: center;

    }
}

@media screen and (max-width: 990px) {

    .gallery-section4 img {

        width: 253px;
    }
}